providers:
  OLLAMA:
    endpoint: ollama.primary
    executionMode: INTERRUPTIBLE
    maxConcurrentRequests: 1

  OLLAMA_QUALIFIER:
    endpoint: ollama.qualifier
    executionMode: NONBLOCKING
    maxConcurrentRequests: 1

  OLLAMA_EMBEDDING:
    endpoint: ollama.embedding
    executionMode: NONBLOCKING
    maxConcurrentRequests: 50

  ANTHROPIC:
    endpoint: anthropic
    executionMode: NONBLOCKING
    maxConcurrentRequests: 3

  GOOGLE:
    endpoint: google
    executionMode: NONBLOCKING
    maxConcurrentRequests: 3

  OPENAI:
    endpoint: openai
    executionMode: NONBLOCKING
    maxConcurrentRequests: 3

  LM_STUDIO:
    endpoint: lmStudio
    executionMode: NONBLOCKING
    maxConcurrentRequests: 25

models:
  EMBEDDING:
    - provider: OLLAMA_EMBEDDING
      model: qwen3-embedding:8b
      context-length: 32 768
      dimension: 4096
      concurrency: 50

endpoints:
  openai:
    apiKey: ${OPENAI_API_KEY}
    baseUrl: https://api.openai.com/v1/
  anthropic:
    apiKey: ${ANTHROPIC_API_KEY}
    baseUrl: https://api.anthropic.com/v1/
  google:
    apiKey: ${GOOGLE_API_KEY}
    baseUrl: https://generativelanguage.googleapis.com/v1beta/
  ollama:
    primary:
      baseUrl: ${OLLAMA_BASE_URL:http://192.168.100.117:11434/}
    qualifier:
      baseUrl: ${OLLAMA_QUALIFIER_BASE_URL:http://192.168.100.117:11435/}
    embedding:
      baseUrl: ${OLLAMA_EMBEDDING_BASE_URL:http://192.168.100.117:11436/}
  lmStudio:
    baseUrl: ${LMSTUDIO_BASE_URL:http://192.168.101.249:1234/}
